@font-face {
    font-family: 'Hack';
    src: url('../fonts/hack.ttf') format('truetype');
}

body {
  font-family: Hack, monospace;
  max-width: 650px;
  margin: auto auto 0 auto;
  font-size: 100%;
}

nav {
  text-align: center;
  width: 100%;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 0px 5px
}

.page a:link,
.page a:visited,
.page a:hover,
.page a:active {
  color: #4b754f;
}

.scroll-img {
  overflow-x: auto;
}

code {
  overflow-x: auto;
  background-color: #f5f5f5;
  padding: 1px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

pre {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1px;
  overflow-x: auto;
  margin: 1em 0;
}

pre code {
  background: none;
  border: none
}

