@font-face {
    font-family: 'Hack';
    src: url('../fonts/hack.ttf') format('truetype');
}

body {
  font-family: Hack, monospace;
  max-width: 650px;
  margin: auto auto 3em auto;
  font-size: 100%;
}

nav {
  text-align: center;
  width: 100%;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 0px 5px
}
