@font-face {
    font-family: 'Hack';
    src: url('../fonts/hack.ttf') format('truetype');
}

body {
  font-family: Hack, monospace;
  max-width: 650px;
  margin: auto auto 3em auto;
  font-size: 100%;
}

hr {
  margin: 0;
}

nav {
  width: 100%;
  float: left;
}

.nav {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.nav li {
  display: inline;
}
.nav li a {
  color: black;
  padding: 0px 10px;
  text-decoration: none;
}
